<div class="row" data-equalizer>
  <div class="small-12 medium-4 columns panel" data-equalizer-watch>
    <h3 class="centered-text">Buy</h3>
    <hr class="nav-hr" />
    <p class="centered-text">Browse the bonsai list marketplace.</p>
  </div>
  <div class="small-12 medium-4 columns panel" data-equalizer-watch>
    <h3 class="centered-text">Sell</h3>
    <hr class="nav-hr" />
    <p class="centered-text">Post bonsai goods you want to sell.</p>
  </div>
  <div class="small-12 medium-4 columns panel" data-equalizer-watch>
    <h3 class="centered-text">Connect</h3>
    <hr class="nav-hr" />
    <p class="centered-text">Find other bonsai enthusiasts near you.</p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns centered-text">
    <h3>Get Started!</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-5 medium-push-1 large-3 large-push-3 columns centered-text">
    <p>Check out the Marketplace</p>
    <%= link_to "<i class='fi-shopping-cart'></i> Marketplace".html_safe, marketplace_path, :class => "button radius expand" %>
  </div>
  <div class="small-12 medium-5 medium-pull-1 large-3 columns large-pull-3 centered-text">
    <p>Register for a new account</p>
    <%= link_to "<i class='fi-checkbox'></i> Sign up!".html_safe, new_user_registration_path, :class => "button radius expand" %>
  </div>
</div>