<div class="row" data-equalizer>
  <div class="small-12 medium-4 columns panel" data-equalizer-watch>
    <h3 class="centered-text">Buy</h3>
    <hr class="nav-hr" />
    <p class="centered-text">Browse the bonsai list marketplace.</p>
  </div>
  <div class="small-12 medium-4 columns panel" data-equalizer-watch>
    <h3 class="centered-text">Sell</h3>
    <hr class="nav-hr" />
    <p class="centered-text">Post bonsai goods you want to sell.</p>
  </div>
  <div class="small-12 medium-4 columns panel" data-equalizer-watch>
    <h3 class="centered-text">Connect</h3>
    <hr class="nav-hr" />
    <p class="centered-text">Find other bonsai enthusiasts near you.</p>
  </div>
</div>
<div class="row">
  <div class="small-5 columns">
    <%= link_to "<label><p class='get-started'>Get started!</p></label>".html_safe, new_user_registration_path %>
  </div>
  <div class="small-7 columns">
    <%= link_to "Sign Up!", new_user_registration_path, :class => "button radius" %>
  </div>
</div>