<div class="off-canvas-wrap ">
  <div class="inner-wrap">
    <%= render partial: "topbar" %>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <!-- Put Offcanvas stuff here -->
        <%= render partial: "topbar_links" %>
      </ul>
    </aside>
    <section class="main-section">
      <%= render partial: "hero" %>
      <div class="row">
        <div class="small-12 medium-4 columns panel">
          <h3 class="centered-text">Buy</h3>
          <p>Check out cool stuff people have to sale</p>
        </div>
        <div class="small-12 medium-4 columns panel">
          <h3 class="centered-text">Sell</h3>
          <p>Put some cool stuff you have up for sale</p>
        </div>
        <div class="small-12 medium-4 columns panel">
          <h3 class="centered-text">Connect</h3>
          <p>Find cool people that are into cool stuff</p>
        </div>
      </div>
      <%= render partial: "footer" %>
    <a class="exit-off-canvas"></a>
  </div>
</div>