<li><%= link_to_unless_current "Inbox", inbox_path, remote: true %></li>
<li><%= link_to_unless_current "Sent", sent_path, remote: true %></li>
<li><%= link_to_unless_current "Trash", trash_path, remote: true %></li>