<ul class="pricing-table">
  <li class="title">Super awesome black pine!!!</li>
  <li class="description">Here is the description. Here is the description. Here is the description. Here is the description. Here is the description. Here is the description. Here is the description. Here is the description.</li>
  <li class="bullet-item">
    <p>Common name: Japanese Black Pine</p>
    <p>Species: <em>Pinus thunbergii</em></p>
    <p>Japanese: 黒松 (Kuromatsu)</p>
  </li> 
  <li class="bullet-item">Location: San Jose CA</li>
  <!-- <li class="bullet-item">20 Users</li> -->
  <li class="price">$99.99</li>
</ul>