<div id="profile-banner" class="row">
  <div id="profile-pic-box" class="small-4 medium-2 columns no-padding">
    <img id="profile-pic" src="http://placehold.it/240x240&text=Thumbnail">
  </div>
  <div id="profile-name-column" class="small-7 medium-9 columns no-padding">
    <h4 id="profile-name" class="text-left">Name NameNameNameName NameName</h4>
  </div>
</div>