<li>
  <% if listing.listing_images.empty? %>
    <%= link_to image_tag("http://placehold.it/1000x1000&text=[img]", :class => "listing-image"), listing_path(listing) %>
  <% else %>
    <%= link_to image_tag(listing.marketplace_image, :class => "listing-image", 'data-interchange' => "[#{asset_path(listing.main_image)}, (small)], [#{asset_path(listing.marketplace_image)}, (medium)]"), listing_path(listing)%>
  <% end %>
  <div class="panel listing-title">
    <h5><%= link_to listing.headline, listing %></h5>
    <h6 class="subheader">
      <% if listing.is_offer? %>
        Make offer
      <% else %>
        <%= number_to_currency(listing.price) %>
      <% end %>
    </h6>
  </div>
</li>