<div class="row">
  <div id="filter-bar" class="small-12 large-12 columns panel">
    <div class="hide-for-medium-up small-12 columns">
      <div class="small-4 columns">
        <p>Order by:</p>
      </div>
      <div class="small-8 columns">
        <%= select_tag :sort, options_for_select([["Newest", "name"], ["Price", "most_recent"]], ), :class => 'filter-sort' %>
      </div>
    </div>
    <div class="hide-for-small medium-6 large-4 columns">
      <div class="medium-5 columns no-padding">
        <p class="filter-label left-label">Order by:</p>
      </div>
      <div class="medium-6 columns no-padding">
        <%= select_tag :sort, options_for_select([["Newest", "name"], ["Price", "most_recent"]], ), :class => 'filter-sort' %>
      </div>
      <div class="medium-1 columns filter-pipe">
        <span class="filter-pipe">|</span>
      </div>
    </div>
    <hr class="hide-for-medium-up hr-distance-mobile" />
    <div class="row collapse">
      <div id="filter-search" class="small-9 medium-4 large-6 columns">
        <%= text_field_tag :search, params[:search], :class => "", :placeholder => "Search" %>
      </div>
      <div class="small-3 medium-2 columns">
        <%= button_tag "Search", class: "postfix bon-button product-search-button" %>
      </div>
    </div>
  </div>
</div>