<input id="listing_subcategory_id_<%= subcategory.id %>" name="listing[subcategory_id]" type="radio" value="<%= subcategory.id %>">
<label for="listing_subcategory_id_<%= subcategory.id %>"><%= subcategory.name %></label>