<% page_title "Home" %>
<div class="row">
  <div class="small-12 medium-4 columns ">
    <%= render partial: "shared/home_nav" %>
  </div>
  <div class="small-12 medium-8 columns">
    <div class="row">
      <div class="small-12 columns panel">
        <h4>Current Listings</h4>
      </div>
    </div>
    <%= (render partial: "home_listing", collection: @listings, as: :listing) || no_listings_message %>
  </div>
</div>
