<% page_title "Home" %>
<div class="row">
  <div class="small-12 medium-4 columns ">
    <%= render partial: "shared/home_nav" %>
  </div>
  <div class="small-12 medium-8 columns">
    <h2>Current Listings</h2>
    <hr class="nav-hr" />
    <%= (render partial: "home_listing", collection: @listings, as: :listing) || no_listings_message %>
  </div>
</div>
