<div class="small-12 columns hide-for-medium-up">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
      <a href="#panel2">Select Category</a>
      <div id="panel2" class="content">
        <div class="panel">
          <ul>
            <label class="marketplace-nav-title">
              <em>Categories</em>
              <%= " - #{ link_to 'Show All', marketplace_or_listings, :class => 'marketplace-show-all' }".html_safe unless all_listings? %>
            </label>
            <ul>
              <%= render partial: @categories %>
            </ul>
          </ul>
        </div>
      </div>
    </dd>
  </dl>
  <hr class="hide-for-medium-up hr-categories-mobile" />
</div>