<div class="row">
  <div class="small-12 medium-5 large-4 columns">
    <%= render partial: "shared/home_nav" %>
  </div>
  <div class="small-12 medium-7 large-8 columns">
    <div class="row">
      <div class="small-12 columns panel">
        <h4>Sent Offers</h4>
      </div>
    </div>
    <div class="row">
      <%= (render partial: 'sent_listing_offer', collection: @sent_listing_offers, as: :listing) || no_offers %>
    </div>
  </div>
</div>
