<div class="row">
  <div class="small-12 medium-5 large-4 columns">
    <img src="http://placehold.it/610x610&text=Thumbnail">
    <%= render partial: "shared/pricing_table" %>
  </div>
  <div class="small-12 medium-7 large-8 columns">
<!--           <div class="row collapse">
      <div class="small-8 medium-9 columns">
        <%#= text_field(:post, :title, size: 20, placeholder: "Search offers...") %>
      </div>
      <div class="small-4 medium-3 columns">
        <%#= button_tag "Search", class: "postfix bon-button" %>
      </div>
    </div> -->
    <div class="row">
      <div class="small-12 columns panel">
        <h4>New Offers!</h4>
      </div>
    </div>
    <div class="row">
      <%= (render partial: 'inquiry', collection: @new_inquiries) || no_offers %>
    </div>
    <div class="row">
      <div class="small-12 columns panel">
        <h4>Seen Offers</h4>
      </div>
    </div>
    <div class="row">
      <%= (render partial: 'inquiry', collection: @seen_inquiries) || no_offers %>
    </div>
  </div>
</div>
