$(function(){
  $('.message-close-reveal-modal').on('click', function (){
    $('#sendMessageModal').foundation('reveal', 'close');
  });

  function searchFliterSort (){
    var url = window.location.pathname + '/marketplace_ajax_sort'
    var search = $('.marketplace-search').val();
    var category = $('#listings').data('categoryId');
    var sortValue = $('#marketplace-sort-listing option:selected').val();
    var distanceValue = $('#marketplace-distance-filter option:selected').val();
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'script',
      data: {
        search: search,
        category_id: category,
        sort: sortValue,
        distance_filter: distanceValue
      },
    }).done(function(){
       $(document).foundation('interchange', 'reflow');
       $(document).foundation('interchange', 'resize');
    });
  };

  $('#marketplace-search-button').on('click', searchFliterSort);

  $('#marketplace-sort-listing, #marketplace-distance-filter').on('change', searchFliterSort);

  $('#marketplace-search').on('keyup', searchFliterSort);

  function getLocation() {
    console.log("getting");
    if (navigator.geolocation) {
      $("#listings").empty().append('<p class="centered-text">Please share your location</p><%= image_tag("Pageloading.gif", :class => "centered-image") %>');
      navigator.geolocation.getCurrentPosition(showPosition, function() {
        $("#listings").empty().append('<div class="row">' +
            '<div class="small-6 large-4 columns">' +
              '<form id="zipform">' +
                '<label class="inline-label">Please enter your zip code:</label>' +
                '<span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="bonsai list needs to know your location, don\'t worry, we don\'t use it for anything nefarious."><i class="fi-info"></i></span>' +
                '<div class="row collapse">' +
                  '<div class="small-8 columns">' +
                    '<input type="text" id="zipcode" name="zipcode">' +
                  '</div>' +
                  '<div class="small-4 columns">' +
                    '<input type="submit" class="button tiny postfix">' +
                  '</div>' +
                '</div>' +
              '</form>' +
            '</div>' +
          '</div>');
        $(document).foundation('tooltip', 'reflow');
      }, { timeout: 2000 });
    }
  };

  function checkForLocation () {
    if ($.cookie('location')){
      console.log("Cookie set");
    } else {
      getLocation();
    };
  };

  function showPosition(position) {
    if (position.coords) {
      var url = window.location.pathname + '/set_location';
      $.ajax({
        url: url,
        type: 'POST',
        dataType: 'script',
        data: { coordinates: { latitude: position.coords.latitude, longitude: position.coords.longitude } },
        error: function(){
          console.log("AJAX Error:");
        },
        success: function(){
          console.log("Dynamic geolocation set OK!");
          $.cookie('location', 'set');
          var url = window.location.pathname + '/marketplace_ajax_sort';
          $.ajax({
            url: url,
            type: 'GET',
            dataType: 'script',
            data: { },
            error: function(){
              console.log("AJAX Error:");
            },
            success: function(){
              console.log("Listings set OK!");
            }
          });
        }
      });
    } else {
      showPosition(position);
    }
  };

  function setCoordinates () {
    var zipcode = $('#zipcode').val();
    var url = window.location.pathname + '/set_coordinates';
    $.ajax({
      url: url,
      type: 'POST',
      dataType: 'script',
      data: { zipcode: zipcode },
      error: function() { console.log("LAME") },
      success: function() {
        $.cookie('location', 'set');
      }
    });
  };

  $(document).on('submit', '#zipform', function(e){
    e.preventDefault();
    setCoordinates();
  });

  checkForLocation();
});