#hero {
  margin-bottom: 20px;
  background:
    linear-gradient(135deg, #246020 22px, #262626 22px, #262626 24px, transparent 24px, transparent 67px, #262626 67px, #262626 69px, transparent 69px),
    linear-gradient(225deg, #246020 22px, #262626 22px, #262626 24px, transparent 24px, transparent 67px, #262626 67px, #262626 69px, transparent 69px)0 64px;
    background-color:#246020;
    background-size: 64px 128px;

  h1 {
    color: white;
  }
  .hero-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.header-faded {
  color: #737373;
}