.home-listing-button {
  margin-bottom: 0;
}

.home-listing-info {
  margin-bottom: 10px;
}

.listing-list-panel {
  padding: 10px;
}

.remove-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
}