.home-nav-box {
  padding-right: 10;
}

.home-nav-pic {
  min-height: 45px;
  min-width: 45px;
}

.home-nav-name {
  padding-left: 0px;
  padding-right: 10px;
}

.home-nav-hr {
  margin: 10px 0;
  padding-bottom: 5px;
}
