.fi-trash {
  color: #246020;
  font-size: large;
}

.trash-link {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    margin-left: 20px;
  }
  @media only screen and (min-width: 64.063em) {
    margin-left: 80px;
  }
}