.products {

  .product-button {
    background-color: #246020;
  }

  .new-product-button {
    background-color: #246020;
    margin-bottom: 15px;
  }

  .pricing-table .description {
    font-size: 1rem;
  }

  .seller-pic {
    padding-right: 5px;
  }

  .seller_name {
    padding-left: 5px;
    margin-top: 5%;
  }

}