#filter-bar {
  padding: 5px;
}

.left-label {
  padding-left: 5px;
}

.distance-label{
  padding-left: 0;
}

.mobile-distance-label{
  padding-left: 5px;
}

.filter-pipe {
  font-size: x-large;
  color: #d8d8d8;
  margin-top: 4px;
  max-width: 5px;
  padding: 0;
}

#filter-search input {
  margin-bottom: 0;
}

.filter-sort {
  border: none;
  background-color: #f2f2f2;
  padding-top: 10px;
  margin-bottom: 0;
}

.centered-text {
  text-align: center;
}

p {
  margin-bottom: 0;
  margin-top: 7px;
}

.hr-order-by-mobile {
  margin-bottom: 1px;
}

.hr-distance-mobile {
  margin-bottom: 5px;
}
