li {
  list-style: none;
}

p {
  margin-bottom: 0;
  margin-top: 7px;
}

.bon-button {
  background-color: #e1e1e1;
  border: 1px solid #b6b6b6;
  color: #071307;
}

.bon-button:hover {
  background-color: #246020;
  color: white;
}

.edit-user-image:hover, .edit-user-image:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.fi-asterisk {
  color: #246020;
}

.fi-info {
  color: gray;
  font-size: 20px;
}

.fi-info-hover {
  color: green;
}

a.home-link {
  padding-left: 20px !important;
}

.listing-thumb {
  max-width: 80px;
  padding-right: 0;
}

.marketplace-nav-hr {
  margin: 0;
}

.message-block {
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.message-date {
  color: #737373;
  font-size: smaller;
  margin-top: 0;
}

.message-name {
  margin-top: 0;
}

.message-pic {
  max-width: 80px;
}

.nav-hr {
  margin: 10px 0;
}

a.nav-link h5 {
  color: #707070;
  text-shadow: 2px black, 2px black;
}

a.nav-link h5:hover {
  color: #009900;
}

#marketplace-nav {
  padding: 0;
  margin-bottom: 0;
  padding-right: 20px;
}

a.nav-link li {
  background-color: #f2f2f2;
  border-bottom: 1px solid #d8d8d8;
  color: #111;
  font-size: 1em;
  line-height: 1.625em;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 12px;
  padding-top: 12px;
}

.marketplace-nav-title {
  background-color: #246020;
  color: white;
  padding: 12px;
  padding-left: 20px;
  border: 1px solid #262626;
  width: 100%;
}

.marketplace-nav-title, .marketplace-nav-title a{
  color: white;
  font-size: large;
}

.marketplace-show-all {
  color: white;
  font-size: small;
}

.marketplace-show-all:hover {
  color: #ddd;
}

.marketplace-nav-ul {
  margin-left: 0;
  margin-bottom: 0;
}

a.nav-link li:hover {
  background-color: #ddd;
  text-shadow: none;
}

.nav-link {
  color: #707070;
  text-shadow: 2px black, 2px black;
}

.nav-link:hover {
  color: #009900;
}

.no-messages {
  font-size: larger;
  padding-bottom: 20px;
}

.notification {
  color: #009900;
}

.no-listing-message-margin {
  margin-bottom: 15px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.product-search-button {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 0;
}

.text-right {
  text-align: right;
}

.top-margin {
  margin-top: 20px;
}

.accordion .accordion-navigation > .content, .accordion dd > .content {
  padding: 15px 0 0 0;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}