<div id="footer">
  <div class="row">
    <div class="small-12 columns">
      <ul id="footer-links" class="inline-list">
        <li><%= link_to "About" %></li>
        <li><%= link_to "Contact" %></li>
        <li><%= link_to "FAQ" %></li>
      </ul>
    </div>
  </div>
</div>
<div id="bottom-bar" >
  <div class="row">
    <div class="small-12 columns"></div>
  </div>
</div>