<div id="footer">
  <div class="row">
    <div class="small-12 columns">
      <ul id="footer-links" class="inline-list">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
      </ul>
    </div>
  </div>
</div>
<div id="bottom-bar" >
  <div class="row">
    <div class="small-12 columns"></div>
  </div>
</div>