<div class="panel">
  <div class="row">
    <div class="small-4 columns home-nav-pic">
      <a href="#"><img src="http://placehold.it/300x300&text=[img]" /></a>
    </div>
    <div class="small-8 columns home-nav-name">
      <p><a href="#">Your NameNameName</a></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <!-- <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-list-thumbnails"></i> <%#= link_to "Feed", user_root_path %></h5> -->
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-home"></i> <%= link_to "Home", products_path %></h5>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-price-tag"></i> <%= link_to "My Listings", products_path %></h5>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-mail"></i> <%= link_to "Messages", messages_path %></h5>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-burst"></i> <%= link_to "Offers", offers_path %></h5>
     <!--  <hr class="home-nav-hr" />
      <h5 class="title"><a href="#"><i class="fi-photo"></i> Photos</a></h5>
      <hr class="home-nav-hr" />
      <h5 class="title"><a href="#"><i class="fi-torsos"></i> Connections</a></h5> -->
    </div>
  </div>
</div>