<li><%= link_to "<i class='fi-price-tag'></i> My Listings".html_safe, listings_path %></li>
<li><%= link_to "<i class='fi-burst-sale #{'notification' if new_offers?}'></i> Offers".html_safe, offers_path %></li>
<li><%= link_to "<i class='fi-mail #{'notification' if new_messages?}'></i> Messages".html_safe, messages_path %></li>
<li><%= link_to "<i class='fi-wrench'></i> Settings".html_safe, edit_user_registration_path %></li>
