<!-- TODO remove temp links -->
<li class="has-dropdown">
  <a href="#">Temp Links</a>
  <ul class="dropdown">
    <li><%= link_to "Profile", profile_path %></li>
    <li><%= link_to "Photos", photos_path %></li>
  </ul>
</li>