<% page_title "Marketplace" %>
<div id="marketplace" class="row">
  <!-- Side Bar -->
  <div id="marketplace-nav" class="medium-4 large-3 columns hide-for-small">
    <div class="panel">
      <%= render partial: "shared/marketplace_nav" %>
    </div>
  </div> <!-- End Side Bar -->
  <div class="small-12 medium-8 large-9 columns">
    <%= render partial: "marketplace_search_filter" %>
    <h1><%= @category %></h1>
    <%= render partial: "shared/marketplace_items" %>
  </div>
</div>